propmgmt/force-app/main/default/flows/New_Maintenance_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>High_Cost_Approval</name>
        <label>High Cost Approval</label>
        <locationX>508</locationX>
        <locationY>227</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Request_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Maintenance_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Maintenance_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Submitted automatically from flow.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sends email to relevant vendors inviting them to submit a quote.</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>916</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Vendor_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>vendorEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New {!Maintenance_Type1} Request at {!Property}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Emails</name>
        <label>Add Emails</label>
        <locationX>1340</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>vendorEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Vendors.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vendors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>High_Cost_Request</name>
        <label>High Cost Request</label>
        <locationX>348</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Email_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estimated_Cost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>High_Cost_Warning</targetReference>
            </connector>
            <label>High Cost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Vendor_Emails</name>
        <label>Send Vendor Emails</label>
        <locationX>781</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Request_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Vendors</targetReference>
            </connector>
            <label>Send Emails</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MaintenanceTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Maintenance_Type__c</picklistField>
        <picklistObject>Maintenance_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropertySet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Property__c</object>
        <outputAssignments>
            <assignToReference>Property_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Property_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Email_Ready__c</picklistField>
        <picklistObject>Maintenance_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Maintenance Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Maintenance Request</label>
    <loops>
        <name>Loop_Vendors</name>
        <label>Loop Vendors</label>
        <locationX>1144</locationX>
        <locationY>276</locationY>
        <collectionReference>Matching_Vendors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Maintenance_Request</name>
        <label>Create Maintenance Request</label>
        <locationX>175</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>High_Cost_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>Estimated_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Type__c</field>
            <value>
                <elementReference>Maintenance_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Property} - {!Maintenance_Type1}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Date_of_Service__c</field>
            <value>
                <elementReference>Target_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>Property_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Maintenance_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Matching_Vendors</name>
        <label>Matching Vendors</label>
        <locationX>1144</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vendors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Specialty_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Maintenance_Type1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Vendor_Email_Sent</name>
        <label>Vendor Email Sent</label>
        <locationX>1036</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Request_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>No Approval Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Maintenance_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Email_Ready</name>
        <label>Email Ready</label>
        <locationX>596</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Vendor_Emails</targetReference>
        </connector>
        <fields>
            <name>Email_Now_or_Later</name>
            <choiceReferences>Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this request ready to send out for vendor quotes?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>High_Cost_Warning</name>
        <label>High Cost Error</label>
        <locationX>349</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>High_Cost_Approval</targetReference>
        </connector>
        <fields>
            <name>High_Cost_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 35, 35);&quot;&gt;Sorry, this request cannot be handled by the flow. Requests estimated over $1200 must go through the approval process before being presented to vendors for quotes. Click &apos;Next&apos; to submit for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Maintenance_Request</name>
        <label>New Maintenance Request</label>
        <locationX>174</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Type1</name>
            <choiceReferences>MaintenanceTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maintenance Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Date</name>
            <dataType>Date</dataType>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property</name>
            <choiceReferences>PropertySet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Property</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Submitted</name>
        <label>Request Submitted</label>
        <locationX>787</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(72, 208, 82); font-size: 16px;&quot;&gt;The request has been successfully submitted!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>New_Maintenance_Request</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailForm</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There is a new approved maintenance request at {!Property}

Type: {!Maintenance_Type1}  
Target Date: {!Target_Date}   
Description: {!Description}

If you would like to be considered for this job, please email us a quote including hours, hourly rate, and a date of service.</text>
    </textTemplates>
    <variables>
        <name>Property_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Property_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vendorEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
    <variables>
        <name>vendorEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vendors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
